<%- include("partials/header") -%>
<br>
<br>
<p><strong><%=about %></strong></p><br>
<ul>
 <li>
  <strong>This helps the students to get accustomed to the interview environment.</strong>
 </li>
 <br>
 <li>
<strong>It helps the students to prepare for the important and frequently asked topics company wise.</strong>
 </li>
<br>
 <li>
<strong>It helps to know more about different job roles available in a company.</strong>
 </li>
<br>
 <li>
<strong>A big compilation of interview problems to get the idea about the type of questions asked.</strong>
 </li>
 <br>
 <li>
<strong>To identify what the interviewers expect from you.</strong>
 </li>