<%- include("partials/header") -%><br><br>
<h3><%=contact %></h3><br>
<ul>
    <li><strong>Mail-id: </strong> craniruddh05@gmail.com</li>
    <li><strong>Linkedin: </strong><a href='https://www.linkedin.com/in/aniruddh-srivatsa-52553b194/'>https://www.linkedin.com/in/aniruddh-srivatsa-52553b194/</a> </li>
    <li><strong>GitHub: </strong><a href='https://github.com/AniruddhSrivatsa'>https://github.com/AniruddhSrivatsa</a> </li>
</ul>

